<html lang="en" ng-app="BlankApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <link rel="stylesheet" href="public/css/global.css">

</head>
<body>


<div ng-controller="AppCtrl">
    <div class="containerFlex">
        <div class="flex-column">
            <md-subheader>
                <h3>
                    Reservation Calendar
                </h3>
            </md-subheader>
            <md-calendar ng-model="startDate" ng-click="getReservedRooms()"></md-calendar>
        </div>

        <div class="tenantDivOuter">
            <div class="tenantDivInner">
                <div>
                    <md-input-container>
                        <label>Tenant Name</label>
                        <input ng-model="tennantName">
                    </md-input-container>
                </div>
                <div>
                    Stay Date : {{startDate | date}}
                </div>
                <md-button class="md-raised md-primary"
                           ng-click="reserveRoom(true)"
                           ng-disabled="tennantName === ''"
                >Confirm Stay</md-button>
            </div>

            <div class="tenantDivInner">
                <div>
                    Stay Date : {{startDate | date}}
                </div>
                <md-button class="md-accent md-raised md-hue-1"
                           ng-click="reserveRoom(false)"
                >Cancel Stay</md-button>
            </div>
        </div>
    </div>
</div>

</body>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
<script src="app/app.js"></script>
<script src="app/services/http-service.js"></script>
<script src="app/controllers/app-controller.js"></script>

</html>
