.padding-20 {
    padding: 20px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.width-25 {
    width: 24%;
}
.containerFlex {
    display: flex;
}
.tenantDivOuter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.tenantDivInner {
    padding: 10px;
    border: 1px solid #3f51b5;
}
